*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-image: url(/imagens/fundo.png);
    background-repeat: repeat-x;
}

.container{
    width: 880px;
    margin: 0 auto;
    border: 1px solid;
    display: flex;
    border: 1px solid;
}

/************************estilização do cabeçalho e menu************************/

header{
    width: 880px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

nav .navegacao{
    display: flex;
    list-style: none;
    width: 600px;
}

.navegacao li{
    background-color: #b10333;
    padding: 10px;
    border-left: 1px solid #8a012856;
    flex: 1;
    text-align: center;
}

.navegacao li a{
    text-decoration: none;
    color: white;
}

a:link, a:visited {
	color: #b10333;
	padding: 2px;
}

.navegacao li a:hover {
	color: #ff0048;
}

/****************estilização das estrututuras padrões*******************8*/

.col-1, .col-2, .col-3{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    margin-top: 10px;
    align-items: center;
}

.col-1, .col-2{
    flex: 2;
}
.col-3{
    min-width: 200px;
    order: -1;
}

/*estilos das caixas principais*/
.caixa{
    max-width: 300px;
    margin-top: 30px;
    background-image: url(../imagens/fundo-caixa.png);
}

.caixa h2{
    background-color: #b10333;
    color: #ffffff;
    padding: 3px;
    font-size: 20px;
}

.caixa-conteudo{
    margin-top: 10px;
}

.caixa-conteudo h3{
    margin-bottom: 5px;
    color: #ffffff;
    background-color: #294c71;
    display: inline-block;
    padding: 3px;
    font-size: 15px;
}

.caixa-conteudo img{
    width: 300px;
}

.caixa-conteudo p, .caixa-conteudo a{
    margin-top: 5px;
    text-align: justify;
    font-size: 14px;
}

/*******/
.item-noticia{
    display: flex;
    margin-top: 10px;
}

.item-noticia img{
    width: 100px;
}

.desc-item{
    margin-left: 20px;
}

.desc-item h4{
    color: #294c71;
}

a.link-item{
    text-decoration: none;
    padding: 0;
    color: black;
    display: block;
    border-bottom: 1px solid gray;
}

a.link-item:hover{
    color: #b10333;
}

/************/
.lista-entrevista li{
    list-style: none;
    padding-bottom: 10px;

}

.lateral-caixa{
    width: 170px;
}

.lista-entrevista li a{
    text-decoration: none;
}

.lista-entrevista li a:hover{
    color: #294c71;
    text-decoration: underline;
}

/*******/
input[type=email]{
    display: block;
    height: 20px;
    margin: 5px 0 10px 0;
}

label{
    display: block;
    color: #294c71;
    font-weight: bold;
    margin-top: 10px;
}
legend{
    background-color: #b10333;
    color: #ffffff;
    padding: 3px;
}